<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#" id="x-logo"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#" id="facebook-logo"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" id="instagram-logo"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" id="linkedin-logo"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#" id="youtube-logo"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="f-info-brand">&copy; <%= new Date().getFullYear() %> EasyStay Private Limited</div>
        <div class="f-info-text">Build with<i class="fa-solid fa-heart" style="color: #E9407A;"></i>by Sourangshu</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <span class="dot">&#8226;</span>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>