<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; <%= new Date().getFullYear() %> EasyStay Private Limited</div>
        <div class="f-info-text">Build with&nbsp;<i class="fa-solid fa-heart" style="color: #fe424d;"></i>&nbsp;by Sourangshu</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <span class="dot">&#8226;</span>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>