body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.heading{
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.nav-link{
    color: #222222;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin-right: 0.8rem;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-socials, .f-info-brand, .f-info-links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i{
    font-size: 1.3rem;
    margin-right: 0.8rem;
}

.f-info{
    height: 8rem;
    text-align: center;
    display: flex;
    align-items: space-evenly;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #bebebe;
}

.card{
    border: none;
    margin-bottom: 2rem;
}

.card:hover{
    transform: scale(1.02);
}

.card-img-top{
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.card-body{
    padding: 0;
}

.card-text{
    font-weight: 400;
}

.card-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.btn{
    background-color: #fe424d;
    border: none;
}