.navbar{
    height: 5rem;
    background-color: white;
}

.nav-link{
    color: #222222 !important;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin-right: 0.8rem;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-socials, .f-info-brand, .f-info-links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i{
    font-size: 1.3rem;
    margin-right: 0.8rem;
}

.f-info{
    height: 8rem;
    text-align: center;
    display: flex;
    align-items: space-evenly;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #bebebe;
}