body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.heading{
    margin-top: 1.1rem;
    margin-bottom: 1.15rem;
}

.navbar{
    height: 5rem;
    background-color: var(--bs-body-bg);
}

.nav-link{
    color: var(--bs-body-color);
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.f-info-links a, .dot{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-socials, .f-info-brand, .f-info-text, .f-info-links{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.f-info-socials{
    gap: 0.7rem;
    margin-top: 0.4rem;
}

.f-info-socials a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #222222;
    margin: 0;
}

.f-info-brand, .f-info-text{
    color: #222222;
}

#x-logo:hover{
    color: white;
}

#facebook-logo:hover{
    color: #1877F2;
}

#instagram-logo:hover{
    color: #E1306C;
}

#linkedin-logo:hover{
    color: #0077B5;
}

#youtube-logo:hover{
    color: #FF0000;
}

.f-info-socials i{
    font-size: 1.4rem;
}

.f-info{
    height: 8rem;
    text-align: center;
    display: flex;
    align-items: space-evenly;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #bebebe;
}

[data-bs-theme="dark"] .f-info, 
[data-bs-theme="dark"] .f-info-socials a, 
[data-bs-theme="dark"] .f-info-links a,
[data-bs-theme="dark"] .dot,
[data-bs-theme="dark"] .f-info-brand,
[data-bs-theme="dark"] .f-info-text{
    color: white;
}

[data-bs-theme="dark"] .f-info{
    background-color: #2B3035;
    border-top: 0.001px solid grey;
}

.listing-card{
    border: none;
    margin-bottom: 2rem;
}

.card-display:hover{
    transform: scale(1.02);
}

.card-img-top{
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.card-body{
    padding: 0;
}

.card-text{
    font-weight: 400;
}

.card-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
    border-radius: 1rem;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.btn{
    background-color: #fe424d;
    border: none;
}

.btn:hover{
    background-color: #eb000f;
}

.form-label{
    font-weight: 650;
}

.show-img{
    height: 49vh;
}

.btns{
    display: flex;
    gap: 12px;
}

.alert{
    color: #ad1d2c;
}

.alert svg{
    height: 1.5rem;
    width: 1.5rem;
    color: #ad1d2c;
}